.main-header .sidebar-toggle:before {
	content: unset;
}

.dropdown.user.user-menu a {
	background: #FFFFFF;
	border-color: #FFFFFF;
}

#body .wrapper, 
#body .main-sidebar, 
#body .left-side {
	background-color: #ffffff;
}

#body .user-panel > .info, #body .user-panel > .info > a {
	color: #333;
}

#body .sidebar-menu > li.header {
	color: #333;
    background: #ffffff;
    border-top: 3px solid #ecf0f5;
    border-bottom: 3px solid #ecf0f5;
    margin-bottom: 5px;
}

#body .sidebar-menu > li.active > a {
	color: #fff;
    background: #1e282c;
}

#body .sidebar-menu >li > a, #body .sidebar-menu > li.menu-open > a {
	color: #333;
    background: #FFFFFF;
}

#body .sidebar-menu > li > a {
	padding-left: 15px;
	transition: .5s;
}

#body .sidebar-menu > li.active > a {
	border-left-color: transparent;
}

#body .sidebar-menu > li:hover > a {
	padding-left: 30px;
	transition: .5s;
    color: #fff;
    background: #1e282c;
}

#body .sidebar-menu > li.header {
	text-align: center;
}

#body .td-width {
	width: 5%;
}

#body .td-width.image {
	height: 100px;
}

li.nav-list span {
    padding-left: 5px;
}

.modal-title {
	display: inline-block;
}

textarea {
	resize: vertical;
	min-height: 100px;
}

.center {
	text-align: center;
}

.error-message {
	position: absolute;
    z-index: 2000;
    right: 0;
    bottom: 0;
}

#modal-app .form-group {
	margin-bottom: 5px;
}

#modal-app .form-group label {
	margin: 0;
	font-size: 12px;
}

#modal-app .box-body {
	padding: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	font-size: 12px;
    line-height: 23px;
    text-align: center;
}

.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus,
.select2-selection.select2-selection--single,
.select2-dropdown.select2-dropdown--below,
.select2.select2-container.select2-container--default {
	width: 300px !important;
}

#body .box-body .btn-group button {
	padding: 4px 8px 4px 8px;
}

#body .box-body .btn-group i {
	font-size: 12px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

td.td-width.new {
    background: green;
    color: #fff;
}

/*td.td-width.follow_up {
    background: green;
    color: #fff;
}*/


/* Loader */

.loader {
  color: #1e282c;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  position:absolute;
  top: 35%;
  left: 55%;
  z-index: 1;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
